.section-main {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $white-2;
}

.section-auth {
  justify-content: center;
  list-style-type: none;
  margin-bottom: 56px;

  display: flex;

  .button-main {
    &:not(:last-child) {
      list-style-type: none;
      margin-right: 8px;
    }
  }
}
