.footer-way {
  margin: 0;
}
.images-conteiner {
  margin: 0;
}
.way {
  margin: 0;
}
p {
  margin: 0;
}
h2 {
  margin: 0;
}
.site-nav {
  margin: 0;
}
.auth-nav {
  margin: 0;
}
.feature-list {
  margin: 0;
}
.engaged-section {
  margin-top: 0;
  margin-bottom: 0;
}
.link-title {
  margin: 0;
}
.link {
  margin: 0;
}
.img-section-hero {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
h3 {
  margin: 0;
}
body {
  margin: 0;
  color: $black;
  @include font(14px, 1.71);
}
