.feature-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.feature-list {
  .iteam {
    width: 270px;
    margin-right: 30px;

    &:last-child {
      margin: 0;
    }
  }
}

.iteam {
  padding-top: 50px;
  padding-bottom: 94px;
}

.itram-li {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.iteam-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: $icons-bg-color;
  border-radius: 4px;
}
.svg-iteam {
  width: 65px;
  height: 70px;
}

.link {
  display: block;
  padding-bottom: 11px;
  padding-top: 32px;
  text-decoration: none;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  transition: color 250ms $animation, box-shadow 250ms $animation,
    background-color 250ms $animation;
  color: $black;
}

.link-title {
  margin-top: 4px;
  font-family: $base-font-family;
  font-style: 400;
  font-weight: $font-wight-standart;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $gray;
}
