.scetion-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.ul-icon {
  display: flex;
  list-style-type: none;
  padding-bottom: 94px;
}

.company-iteam-icon {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $icons-bg-company;
  border-radius: 4px;
  background-color: $white-2;
  transition: color 250ms $animation, box-shadow 250ms $animation,
    background-color 250ms $animation;

  &:hover,
  &:focus {
    border: 1px solid $active;
    fill: $active;
  }
}

.svg-icon {
  fill: $icons-bg-company;
  width: 44px;
  height: 49px;

  &:hover,
  &:focus {
    fill: $active;
  }
}

.icon-company-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid $icons-bg-company;
  border-radius: 4px;
  background-color: $white-2;

  &:hover,
  &:focus {
    border: 1px solid $active;
    fill: $active;
  }
}

.svg-icon-active {
  fill: $icons-bg-company;
  width: 80px;
  height: 42px;

  &:hover,
  &:focus {
    fill: $active;
  }
}
