$black: #212121;
$active: #2196f3;
$gray: #757575;
$white-1: rgba(255, 255, 255, 0.6);
$white-2: #ffffff;
$secondary-bg-color: #2f303a;
$mainer-bg-color: #e5e5e5;
$icons-bg-company: #afb1b8;
$icons-bg-color: #f5f4fa;
$bg-modal: rgba(0, 0, 0, 0.2);
$animation: cubic-bezier(0.4, 0, 0.2, 1);
$bg-tch: rgba(33, 150, 243, 0.9);
$color-nav-fot: rgba(255, 255, 255, 0.6);
$section-gradient: rgba(47, 48, 58, 0.5);
$section-gradient-2: rgba(47, 48, 58, 0.4);
$section-gradient-3: rgba(255, 255, 255, 0.3);
$box-shadow: rgba(0, 0, 0, 0.15);
$border-color: rgba(0, 0, 0, 0.1);
$border: rgba(33, 33, 33, 0.2);
$pos-bg: rgba(47, 48, 58, 0.8);
$box-sh-team-1: rgba(0, 0, 0, 0.12);
$box-sh-team-2: rgba(0, 0, 0, 0.14);
$box-sh-team-3: rgba(0, 0, 0, 0.2);
$box-sh-team-4: rgba(0, 0, 0, 0.08);
$rgba-ft-icon: rgba(255, 255, 255, 0.1);

$logo-font-family: "Raleway", sans-serif;
$base-font-family: "Roboto", sans-serif;
$font-style: normal;
$line-height: 1.19;
$font-weight-hard: 700;
$font-weight-verh: 900;
$font-wight-standart: 400;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
